body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes moveRight {
  0%, 100% { transform: translateX(0); }
  50% { transform: translateX(4px); }
}

.animate-arrow {
  animation: moveRight 2.2s infinite ease-in-out;
}


.transition-bg {
  background-image: url('./img/back.png'); /* Replace with the correct image path */
}


@tailwind base;
@tailwind components;
@tailwind utilities;
